@page
@model E9U.Tangello.Private.Pages.ErrorModel
@{
    Layout = "_BootstrapLayout";
    ViewData["Title"] = "Page Not Found";
}

@section HeadElement{
    <link rel="stylesheet" href="~/css/Pages/MyProjects.css">
}

<div class="container">
    The page does not exist :(
</div>