@page
@model E9U.Tangello.Private.Pages.MyProjectsModel
@{
    Layout = "_BootstrapLayout";
    ViewData["Title"] = "My Projects";
}

@section HeadElement{
    <link rel="stylesheet" href="~/css/Pages/MyProjects.css">
}

<div class="container">
    ????????
</div>