@page
@model E9U.Tangello.Private.Pages.TestModel
@{
    Layout = "_BootstrapLayout";
}

<div class="container">
    <h1>
        Hello World! test page
    </h1>
</div>

@section BodyEndScripts {
    <script src="~/ts-out/index.js"></script>
}